@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-purple-color: #26284c;
  --default-dark-blue-color: #151823;
  --default-white-color: #fff;
  --default-yellow-color: #ffcc5b;
  --border-color-secondary: #404380;
  --default-text-color: #8789c3;
  --default-bg-color: #0c0d26;
  --category-section-color: #222341;
}

body{
  scrollbar-width: none;
}